<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialcomponentsexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:label="@string/toolbar" />
        <activity android:name=".toolbar.ToolbarDemo1Activity" />
        <activity android:name=".toolbar.ToolbarDemo2Activity" />
        <activity android:name=".toolbar.ToolbarDemo3Activity" />
        <activity android:name=".toolbar.ToolbarDemo4Activity" />
        <activity android:name=".toolbar.ToolbarDemo5Activity" />
        <activity android:name=".toolbar.ToolbarDemo6Activity" />
        <activity android:name=".toolbar.ToolbarDemo7Activity" />
        <activity android:name=".toolbar.ToolbarDemo8Activity" />
        <activity android:name=".toolbar.ToolbarDemo9Activity" />
        <activity
            android:name=".toolbar.ToolbarDemo10Activity"
            android:theme="@style/AppTheme.OverflowMenu" />
        <activity android:name=".toolbar.ToolbarDemo11Activity" />
        <activity android:name=".topappbar.AppBarLayoutToolbar1Activity" />
        <activity android:name=".topappbar.AppBarLayoutToolbar2Activity" />
        <activity android:name=".topappbar.AppBarLayoutToolbar3Activity" />
        <activity android:name=".topappbar.CollapsingToolbarLayout1Activity" />
        <activity android:name=".topappbar.CollapsingToolbarLayout2Activity" />
        <activity android:name=".topappbar.CollapsingToolbarLayout3Activity"
            android:theme="@style/AppTheme.TranslucentStatus"/>
        <activity android:name=".topappbar.CollapsingToolbarLayout4Activity"
            android:theme="@style/AppTheme.TranslucentStatus"/>
    </application>

</manifest>